.drawflow .drawflow-node {
    border-radius: 8px;
    background: none;
    border: none;
    /*border: 2px solid #494949;*/
    color: white;
    width: 100px;
    height: 100px;
}

.drawflow .drawflow-node.selected {
    background: none;
    border: 2px solid rgb(250, 0, 175);
}

.drawflow .drawflow-node .input, .drawflow .drawflow-node .output {
    background: #181818;
    border: 3px solid #494949;
    width: 15px;
    height: 15px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.drawflow .drawflow-node .input {
    left: -21px;
    width: 15px;
    height: 15px;
}

.drawflow .drawflow-node .output {
    right: 4px;
}

.drawflow .drawflow-node .output:hover, .drawflow .drawflow-node .input:hover {
    background: #494949;
    border: 3px solid rgb(250, 0, 175);
}

.drawflow .connection .main-path {
    stroke-width: 3px;
    stroke: #c5c343;
}

.drawflow .connection .main-path:hover {
    stroke: rgb(250, 0, 175);
}

.drawflow .drawflow-node.selected .drawflow_content_node .header {
    background:rgb(250, 0, 175);
}


.drawflow .drawflow-node .drawflow_content_node input, .drawflow .drawflow-node .drawflow_content_node .el-select, .drawflow .drawflow-node .drawflow_content_node button {
    width: 100%; 
}

.el-drawer__body {
    color: black;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

img.switch {
    width:65px;
    height:65px;
}

img.computer {
    width:65px;
    height:65px;
}

img.cog:hover {
    border: 1px;
    cursor: pointer;
}

.modal-section {
    margin-top: 30px;
    color: black;
  }

.drawflow-node.Host .outputs .output:nth-child(1):before {
    display: block;
    content: "eth0";
    position: relative;
    right: -15px;
    bottom: 4px;
}
.drawflow-node.Host .outputs .output:nth-child(2):before {
    display: block;
    content: "eth1";
    position: relative;
    right: -15px;
    bottom: 4px;
}
.drawflow-node.Host .outputs .output:nth-child(3):before {
    display: block;
    content: "eth2";
    position: relative;
    right: -15px;
    bottom: 4px;
}
.drawflow-node.Host .outputs .output:nth-child(4):before {
    display: block;
    content: "eth3";
    position: relative;
    right: -15px;
    bottom: 4px;
}
.drawflow-node.Host .outputs .output:nth-child(5):before {
    display: block;
    content: "eth4";
    position: relative;
    right: -15px;
    bottom: 4px;
}
.drawflow-node.Host .outputs .output:nth-child(6):before {
    display: block;
    content: "eth5";
    position: relative;
    right: -15px;
    bottom: 4px;
}
.drawflow-node.Host .outputs .output:nth-child(7):before {
    display: block;
    content: "eth6";
    position: relative;
    right: -15px;
    bottom: 4px;
}
.drawflow-node.Host .outputs .output:nth-child(8):before {
    display: block;
    content: "eth7";
    position: relative;
    right: -15px;
    bottom: 4px;
}
.drawflow-node.Host .outputs .output:nth-child(9):before {
    display: block;
    content: "eth8";
    position: relative;
    right: -15px;
    bottom: 4px;
}
.drawflow-node.Host .outputs .output:nth-child(10):before {
    display: block;
    content: "eth9";
    position: relative;
    right: -15px;
    bottom: 4px;
}



.drawflow-node.Switch .inputs .input:nth-child(1):before {
    display: block;
    content: "#0";
    position: relative;
    right: 33px;
    bottom: 4px;
}.drawflow-node.Switch .inputs .input:nth-child(2):before {
    display: block;
    content: "#1";
    position: relative;
    right: 33px;
    bottom: 4px;
}.drawflow-node.Switch .inputs .input:nth-child(3):before {
    display: block;
    content: "#2";
    position: relative;
    right: 33px;
    bottom: 4px;
}.drawflow-node.Switch .inputs .input:nth-child(4):before {
    display: block;
    content: "#3";
    position: relative;
    right: 33px;
    bottom: 4px;
}.drawflow-node.Switch .inputs .input:nth-child(5):before {
    display: block;
    content: "#4";
    position: relative;
    right: 33px;
    bottom: 4px;
}.drawflow-node.Switch .inputs .input:nth-child(6):before {
    display: block;
    content: "#5";
    position: relative;
    right: 33px;
    bottom: 4px;
}.drawflow-node.Switch .inputs .input:nth-child(7):before {
    display: block;
    content: "#6";
    position: relative;
    right: 33px;
    bottom: 4px;
}.drawflow-node.Switch .inputs .input:nth-child(8):before {
    display: block;
    content: "#7";
    position: relative;
    right: 33px;
    bottom: 4px;
}.drawflow-node.Switch .inputs .input:nth-child(9):before {
    display: block;
    content: "#8";
    position: relative;
    right: 33px;
    bottom: 4px;
}.drawflow-node.Switch .inputs .input:nth-child(10):before {
    display: block;
    content: "#9";
    position: relative;
    right: 33px;
    bottom: 4px;
}.drawflow-node.Switch .inputs .input:nth-child(11):before {
    display: block;
    content: "#10";
    position: relative;
    right: 33px;
    bottom: 4px;
}.drawflow-node.Switch .inputs .input:nth-child(12):before {
    display: block;
    content: "#11";
    position: relative;
    right: 33px;
    bottom: 4px;
}.drawflow-node.Switch .inputs .input:nth-child(13):before {
    display: block;
    content: "#12";
    position: relative;
    right: 33px;
    bottom: 4px;
}.drawflow-node.Switch .inputs .input:nth-child(14):before {
    display: block;
    content: "#13";
    position: relative;
    right: 33px;
    bottom: 4px;
}.drawflow-node.Switch .inputs .input:nth-child(15):before {
    display: block;
    content: "#14";
    position: relative;
    right: 33px;
    bottom: 4px;
}.drawflow-node.Switch .inputs .input:nth-child(16):before {
    display: block;
    content: "#15";
    position: relative;
    right: 33px;
    bottom: 4px;
}.drawflow-node.Switch .inputs .input:nth-child(17):before {
    display: block;
    content: "#16";
    position: relative;
    right: 33px;
    bottom: 4px;
}.drawflow-node.Switch .inputs .input:nth-child(18):before {
    display: block;
    content: "#17";
    position: relative;
    right: 33px;
    bottom: 4px;
}.drawflow-node.Switch .inputs .input:nth-child(19):before {
    display: block;
    content: "#18";
    position: relative;
    right: 33px;
    bottom: 4px;
}